*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #e5e5e5;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.counter {
  height: 8px;
  width: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
  display: block;
}

.btn {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #6070ff;
  border: 1px solid #7f8cff;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 24%);
  border: 1px solid #4053fc;
  background-color: #6070ff;
}

.btn:active {
  color: #fff;
  background-color: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
  background-color: #fff;
  cursor: not-allowed;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(-3px);
  }
}

.section-title {
  color: #344563;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
  text-transform: uppercase;
}

.header {
  background-color: #f7f7f9;
}

.toolbar {
  color: #6070ff;
}

.toolbar .container {
  justify-content: space-between;
  padding: 10px 24px;
  align-items: center;
  background-color: #fff;
}

.logo {
  padding: 0 12px;
  margin-left: 12px;
  margin-bottom: -20px;
}

.rotate-arround-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to right, transparent 98%, rgba(28, 19, 185) 2%);
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo-link {
  margin-top: 10px;
  position: relative;
  top: -35px;
  margin-left: 13px;
}

.logo a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav-list {
  display: none;
}

.headline .wrapper {
  background-color: #f7f7f9;
}

.mobile-nav-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(11, 40, 200, 0.65);
  backdrop-filter: blur(5px);
  z-index: 30;
}

.mobile-nav-menu .btn-menu-close {
  position: absolute;
  top: 5%;
  right: 10%;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 10%;
}

.mobile-nav-list .mobile-nav-link {
  padding: 10px 0;
}

.mobile-nav-list .mobile-nav-link a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.mobile-nav-list .mobile-nav-link a:hover {
  color: #aaa;
}

.headline {
  flex-direction: column;
  justify-content: center;
  background-image: url('./img/header-shapes-mobile.png');
  border-radius: 0 0 0 120px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 604px;
  background-color: #fff;
}

.headline--title {
  color: #172b4d;
  margin: 0 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline--body {
  color: #344563;
  margin: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.headline--supporting-text {
  margin: 12px 24px;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.social-media {
  display: flex;
  margin: 12px 24px;
  align-items: center;
  padding: 0;
}

.social-media-items {
  margin-right: 20px;
}

.social-media li {
  list-style: none;
}

.social-media i {
  color: #505f79;
  font-size: 20px;
}

.works .grid-container {
  grid-template-columns: auto;
  background-color: #f7f7f9;
  padding: 67px 24px;
}

.card {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 44px 0;
  border-radius: 15px;
  padding: 16px;
  background-color: #fff;
  outline: 1px solid #dfe1e6;
}

.card > * {
  flex: 1 1 100%;
  margin: 10px 0;
}

.card .project-snapshoot img {
  text-align: center;
  width: 100%;
}

.card .project-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #172b4d;
  padding: 0;
  margin: 0;
}

.card .project-metadata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}

.card .project-metadata .client {
  color: #344563;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.card .project-metadata .role,
.year {
  color: #7a869a;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
}

.card .project-metadata > * {
  margin-right: 10px;
}

.card .project-description,
.contact-description {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  font-weight: 400;
  max-width: 100%;
}

.card .languages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card .languages li {
  font-size: 13px;
  color: #6070ff;
  line-height: 16px;
  font-weight: 500;
  background-color: #ebebff;
  margin-right: 10px;
  padding: 0.1em 0.4em;
  border-radius: 10px;
}

.card .btn-see-project {
  align-self: flex-start;
}

.modal-overlay {
  position: fixed;
  display: none;
  z-index: 200;
  padding: 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: rgb(193, 199, 208, 0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 6px auto;
  width: auto;
  height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
}

.modal .close-modal .fa-times {
  font-size: 20px;
  color: #67798e;
  font-weight: 400;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-bottom: 12px;
  width: 100%;
  border: none;
}

.modal .project-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 6px 0;
  color: #172b4d;
  text-transform: capitalize;
}

.modal .project-client {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.modal .modal-header .role-year-ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 70%;
}

.modal .project-role,
.project-year {
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.modal .modal-header .role-year-ul .project-year {
  margin-left: 32px;
}

.modal .featured-image {
  width: 100%;
  max-height: 100%;
}

.modal .project-description-div {
  max-height: 40%;
  overflow: hidden;
}

.modal .project-details {
  position: relative;
  max-width: 100%;
}

.modal .modal-description {
  font-size: 15px;
  padding: 12px 0;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.modal .languages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
}

.modal .languages li {
  font-size: 13px;
  color: #6070ff;
  line-height: 16px;
  font-weight: 500;
  background-color: #ebebff;
  margin-right: 10px;
  padding: 0.1em 0.4em;
  border-radius: 10px;
}

.modal .modal-see-btn {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal .modal-see-btn .modal-link {
  text-decoration: none;
  color: #6070ff;
}

.modal .btn-modal-close {
  position: absolute;
  top: 12px;
  right: 2%;
  transition: 0ms;
}

.about-me-wrapper {
  background-color: #f7f7f9;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  background-image: url('./img/base-about-me.png.png');
  border-radius: 0 80px 0 0;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 67px 24px;
}

hr {
  line-height: 1px;
  background-color: #dfe1e6;
}

.about-me-title {
  color: #172b4d;
  margin: 6px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-me-body {
  color: #344563;
  margin: 6px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-me-suporting-text {
  margin: 12px 0;
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.about-me-container .social-media {
  margin: 12px 0;
}

.about-me-container .btn-get-my-resume {
  align-self: flex-start;
  margin: 12px 0;
}

.programming-languages {
  margin: 6px 0;
}

.programming-languages .language-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-head .languages-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.programming-languages .language-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.programming-languages .language-list li {
  background-color: #f7f7f9;
  margin: 6px 0;
}

.programming-languages .language-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.programming-languages .language-item .language-icon {
  margin-right: 16px;
}

.language-item .language-icon img {
  border-radius: 50%;
}

.programming-languages .language-item .language-name {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: #253858;
}

.frameworks {
  margin: 6px 0;
}

.frameworks .frameworks-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.framewors-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.skills {
  margin: 6px 0;
}

.skills .skills-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.footer {
  background-color: #fff;
  padding-top: 23px;
}

.footer .wrapper {
  border-top-left-radius: 100px;
  background-color: #6070ff;
  padding-bottom: 102px;
}

.contact-me {
  border-top-left-radius: 100px;
  background-color: #6070ff;
  background-image: url('./img/contact-form-shapes-mobile.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.contact-me-header {
  text-align: left;
  padding: 0 24px;
}

.contact-title {
  padding: 0;
  color: #fff;
  font-size: 40px;
  line-height: 52px;
}

.contact-intro {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 24px 0 24px;
}

.contact-me input,
.contact-me textarea {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  height: 48px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 16px;
  margin: 10px 0;
}

.contact-form input::placeholder {
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
}

.contact-me textarea {
  height: 170px;
  border-radius: 8px;
}

.contact-form-submit {
  align-self: flex-start;
  background: #fff;
  border-radius: 8px;
  align-items: center;
  padding: 12px 16px;
  margin: 12px 0;
}

.footer hr {
  position: relative;
  top: 80px;
  width: 134px;
  height: 5px;
  margin-left: calc(50% - 134px / 2 - 0.5px);
  text-align: center;
  background-color: #0d151e;
  margin-bottom: 8px;
}

.errors-div {
  color: #dc3545;
  background-color: #fff;
  display: none;
  font-size: 12px;
  margin-top: 12px;
  align-self: flex-start;
  padding: 6px;
}

@media screen and (min-width: 992px) {
  .header {
    background-color: #f7f7f9;
  }

  .header-wrapper {
    background-color: #fff;
    border-radius: 0 0 0 120px;
  }

  .toolbar {
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 150px;
    height: 27px;
  }

  .toolbar .btn-menu-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-right: 142px;
  }

  .nav-link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #344563;
    text-align: center;
  }

  .nav-link + .nav-link {
    margin-left: 20px;
  }

  .nav-link:hover {
    background-color: #2230d2;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    padding: 0 5px;
  }

  .nav-link a:hover {
    color: #fff;
  }

  .headline {
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    background-image: url('./img/desktop-header-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 1398px;
    padding: 34px 8px;
    min-height: 721px;
  }

  .headline--container {
    margin: 0 225px;
    letter-spacing: 0.37px;
  }

  .headline--title {
    margin-bottom: 12px;
    color: #091e42;
    font-size: 48px;
    line-height: 60px;
  }

  .headline--body {
    max-width: 920px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .headline--supporting-text {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .headline .social-media {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .works .section-title {
    text-align: center;
  }

  .card {
    flex-direction: row;
    margin: 71px 142px;
  }

  .card > * {
    margin: 24px;
  }

  .card:nth-child(odd) .project-snapshoot {
    order: 2;
  }

  .modal-overlay {
    margin: 0 auto;
    height: 100%;
  }

  .modal {
    max-width: 1150px;
    height: 100%;
    margin: 12px auto;
    padding-top: 20px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 20px;
  }

  .modal .modal-header {
    justify-content: flex-start;
  }

  .modal .project-client {
    font-size: 18px;
  }

  .modal .project-role,
  .project-year {
    font-size: 18px;
  }

  .modal .modal-header .project-client {
    margin-right: 28px;
  }

  .modal .featured-image-container {
    width: 100%;
    height: 65%;
    border-radius: 30px;
  }

  .modal .featured-image {
    width: 100%;
    max-height: 100%;
    border-radius: 30px;
  }

  .modal .project-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px 6px;
  }

  .modal .project-description-div {
    flex: 2;
  }

  .modal .technologies-buttons {
    margin-left: 32px;
    padding-top: 12px;
    flex: 1;
  }

  .modal .modal-see-btn {
    justify-content: flex-start;
  }

  .modal .modal-see-btn .project-source {
    margin-left: 24px;
  }

  .about-me-container {
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 120px 0 0;
    padding: 71px 185px;
  }

  .about-me-container .about-me-header {
    width: 36%;
    margin-right: 15px;
  }

  .about-me-container .about-me-skillset {
    width: calc(54% - 25px);
  }

  .about-me-skillset i {
    cursor: pointer;
  }

  .about-me-container .about-me-skillset .language-list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
  }

  .about-me-skillset .language-list .language-item {
    flex-direction: column;
    text-align: center;
    margin: 0 12px;
  }

  .about-me-skillset .language-list li + li {
    margin-left: 12px;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    background-color: #6070ff;
    background-image: url('./img/desktop-version-contact-form-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
  }

  .contact-me .contact-me-header {
    text-align: center;
  }

  .contact-me-header .contact-title,
  .contact-intro {
    max-width: 569px;
    margin-bottom: 12px;
  }

  .contact-me-header .contact-intro {
    padding-bottom: 12px;
  }

  .contact-me .contact-form {
    max-width: 447px;
    flex-direction: column;
    align-items: center;
    margin: 0 225px;
  }

  .contact-me .contact-form input,
  textarea {
    margin-bottom: 27px;
  }

  .contact-form .contact-form-submit {
    align-self: center;
  }

  .footer hr {
    display: none;
  }

  .errors-div {
    color: #dc3545;
    background-color: #fff;
    display: none;
    font-size: 12px;
    margin-top: 12px;
    align-self: center;
  }
}
